In [1]:
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv('cookie_cats.csv')
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

# 데이터 Overview

In [ ]:
df.info()
# 결측치 NaN 값은 존재하지 않음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

In [8]:
df.describe()
# 데이터

       sum_gamerounds
count    90189.000000
mean        51.872457
std        195.050858
min          0.000000
25%          5.000000
50%         16.000000
75%         51.000000
max      49854.000000

# 데이터 전처리

In [12]:
df.duplicated().sum()

0

In [11]:
df['version'].value_counts()

version
gate_40    45489
gate_30    44700
Name: count, dtype: int64

In [40]:
print(df.groupby('version')['retention_1'].mean()*100)
a_retention = df.groupby('version')['retention_1'].mean()['gate_30']
b_retention = df.groupby('version')['retention_1'].mean()['gate_40']
a_cnt = df[df['version']=='gate_30'].shape[0]
b_cnt = df[df['version']=='gate_40'].shape[0]
a_effected = round(a_retention * a_cnt)
b_effected = round(b_retention * b_cnt)
a_failed = a_cnt - a_effected
b_failed = b_cnt - b_effected

version
gate_30    44.818792
gate_40    44.228275
Name: retention_1, dtype: float64

In [41]:
a= [a_effected, a_failed]
b= [b_effected, b_failed]
conversion_table = np.array([a, b])
conversion_table = np.array([a, b])

In [42]:
chi2_stat, p_value, dof, expected = stats.chi2_contingency(conversion_table)

In [43]:
print(f"Chi-Square Statistic: {chi2_stat:.4f}")
print(f"P-value: {p_value:.10f}")

alpha = 0.05  # 유의수준 5%
if p_value < alpha:
    print("A/B 프로모션 간 전환율 차이가 유의미합니다.")
else:
    print("A/B 프로모션 간 전환율 차이가 유의미하지 않습니다.")

Chi-Square Statistic: 3.1591
P-value: 0.0755047621
A/B 프로모션 간 전환율 차이가 유의미하지 않습니다.

In [39]:
print(df.groupby('version')['retention_7'].mean()*100)

a_retention = df.groupby('version')['retention_7'].mean()['gate_30']
b_retention = df.groupby('version')['retention_7'].mean()['gate_40']
a_cnt = df[df['version']=='gate_30'].shape[0]
b_cnt = df[df['version']=='gate_40'].shape[0]
a_effected = round(a_retention * a_cnt)
b_effected = round(b_retention * b_cnt)
a_failed = a_cnt - a_effected
b_failed = b_cnt - b_effected

a= [a_effected, a_failed]
b= [b_effected, b_failed]
conversion_table = np.array([a, b])

chi2_stat, p_value, dof, expected = stats.chi2_contingency(conversion_table)

print(f"Chi-Square Statistic: {chi2_stat:.4f}")
print(f"P-value: {p_value:.10f}")

alpha = 0.05  # 유의수준 5%
if p_value < alpha:
    print("A/B 프로모션 간 전환율 차이가 유의미합니다.")
else:
    print("A/B 프로모션 간 전환율 차이가 유의미하지 않습니다.")

version
gate_30    19.020134
gate_40    18.200004
Name: retention_7, dtype: float64
Chi-Square Statistic: 9.9591
P-value: 0.0016005743
A/B 프로모션 간 전환율 차이가 유의미합니다.

In [38]:
import scipy.stats as stats

a_sum = np.array(df[df['version'] == 'gate_30']['sum_gamerounds'])
b_sum = np.array(df[df['version'] == 'gate_40']['sum_gamerounds'])

# 대응 표본 t-검정 수행
t_stat, p_value = stats.ttest_ind(a_sum, b_sum, equal_var=False)

# 결과 출력
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.10f}")  # 소수점 10자리까지 표시

# 해석
alpha = 0.05  # 유의수준 5%
if p_value < alpha:
    print("유의미합니다.")
else:
    print("유의미하지 않습니다.")

t-statistic: 0.8854
p-value: 0.3759243841
유의미하지 않습니다.